#article {
    line-height: 1.4em;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

#article_title {
    font-size: 3em;
    margin-bottom: 10px;
    font-family: BebasRegular;
}

#info {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    display: block;
}

#article_gallery img, #article_video img{
    margin: 5px;
    height: 150px;
    width: 150px;
}

#info>ul>li {
    margin-bottom: 10px;
    display: bolock;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    line-height: 1.5em;
}

#info h2 {
    margin-bottom: 10px;
    font-family: BebasRegular;
}

#article_nav {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

#article_nav li {
    cursor: pointer;
    float: left;
    margin-right: 40px;
    line-height: 1.5em;
    font-family: BebasRegular;
    border-bottom: 4px solid #ccc;
    display: block;
}

.links li{
    margin-top: 7px;
}

#article_nav li.selected {
    border-bottom: 4px solid red;
}

#gallery {
    
}