<div id='previews'>
    <article id='preview2' style="margin-bottom: 150px;">
        <h1 class="article_list_title">-About us-</h1>
        <section>       
            <div id="teamwork">
                <p>
                    <img class="icon" src="/assets/images/team/ulan.png" />
                    <span class="heading">Ulan Murzatayev</span>
                    <span class="subheading">Front-end Developer</span>
                    <span class="content">  
                        Let's aim to be the best!
                    </span>
                </p>
                <p>
                	<img class="icon" src="/assets/images/team/duy.png" />
                    <span class="heading">Duy Tran</span>
                    <span class="subheading">Front-end Developer</span>
                    <span class="content">  
                        I'm bad, and that's good. I will never be good, and that's not bad. There is no one I would rather be than me.
                    </span>
                </p>    
                <p>
                	<img class="icon" src="/assets/images/team/brett.png" />
                    <span class="heading">Brett Canino</span>
                    <span class="subheading">Utility Team</span>
                    <span class="content">  
                        We're going to collaborate across models; most importantly, we're going have a exciting time winning with 
                        clients and generating exciting financial performance.
                    </span>
                </p>
                <p>
                	<img class="icon" src="/assets/images/team/sharon.png" />
                    <span class="heading">Hsiao (Sharon) Chung</span>
                    <span class="subheading">Utility Team</span>
                    <span class="content">
                        We're going to transform processes and systems that aren't working and transform them so you get the semantic content you need.
                    </span>
                </p>    
                <p>
                	<img class="icon" src="/assets/images/team/azamat.png" />
                    <span class="heading">Azamat Kalmurzayev</span>
                    <span class="subheading">Back-end Developer</span>
                    <span class="content">  
                        We now have a structure and a exciting start to maximize the leadership ROIs within the team. 
                    </span>
                </p>
                <p>
                	<img class="icon" src="/assets/images/team/ani.png" />
                    <span class="heading">Anirudh Sridhar</span>
                    <span class="subheading">Back-end Developer</span>
                    <span class="content">  
                        I'm sexy and I know it.
                    </span>
                </p>
            </div>
             <script type="text/javascript">
	        	$teamwork = $('#teamwork').shufflingTiles();
    		</script>
            <script type="text/javascript" src="/assets/js/shuffling/help/help.js"></script> 
        </section>
    </article>
</div>
