{% extends 'templates/article_base.html' %} {% block title%} {{name}}{% endblock%} {% block info%}
<ul>
    <li>
        <h2>Name:</h2> 
        {% block name %}{{name}}{% endblock %}
    </li>
    <li>
        <h2>Category:</h2> 
        {% block category %}{{category}}{% endblock %}
    </li>
    <li>
        <h2>Location:</h2> 
        {% block location %} 
            {%if country%}{{country}}{%endif%}{%if state%}, {{state}}{%endif%}{%if city%}, {{city}}{%endif%}
        {% endblock %}
    </li>
    <li>
        <h2>Contact Info:</h2>
        {% block contactinfo %} 
            {%if address%}Address: {{address}}{%endif%} 
            {%if phone%}</br>Phone: {{phone}}{%endif%} 
            {%if email%}</br>E-mail: {{email}}{%endif%} 
        {% endblock %}
    </li>
    <li>
        <h2>Social:</h2>
        {% block social %} 
            {%if social_facebook%} 
                {%for link in social_facebook%}
                    <a href="{{link}}"><img src="/assets/images/GoSocial/png/32/facebook.png" /></a>
                {%endfor%} 
            {%endif%} 
            
            {%if social_twitter%} 
                {%for link in social_twitter%}
                    <a href="{{link}}"><img src="/assets/images/GoSocial/png/32/twitter.png" /></a>
                {%endfor%} 
            {%endif%} 
            
            {%if social_youtube%} 
                {%for link in social_youtube%}
                    <a href="{{link}}"><img src="/assets/images/GoSocial/png/32/youtube.png" /></a>
                {%endfor%} 
            {%endif%} 
        {% endblock %}
    </li>
    <li>
        <h2>External Links:</h2>
        {% block external %} 
            {%if external_source%} 
                {%for link in external_source%}<a href="{{link.src}}" target="_blank">{{link.desc}}</a>{%endfor%} 
            {%endif%} 
        {% endblock %}
    </li>
    <li>
        <h2>Crises:</h2>
        {% block crises%} 
            <ul class="links">
                {%for link in crisis_link%}
                    <li><a href="/article/{{link.src}}" target="_blank">{{link.desc}}</a></li>
                {%endfor%} 
            </ul>
        {%endblock%}
    </li>
    <li>
        <h2>People:</h2> 
        {% block people%}
            <ul class="links">
                {%for link in person_link%}
                    <li><a href="/article/{{link.src}}" target="_blank">{{link.desc}}</a></li>
                {%endfor%} 
            </ul>
        {%endblock%}
    </li>
</ul>
{% endblock %} 

{% block article%}{{description}}{% endblock%} 

{% block gallery %} 
    {% block images%} 
        {%for picture in image_source%}
            <a class="fancybox" rel="pictures" href="{{picture.src}}"><img src="{{picture.thumb}}" alt="{{picture.desc}}"></a>
        {% endfor %} 
    {%endblock%} 
    
{% endblock %}
{% block video%}
    <div class="article_video">
        {%for video in videos_youtube%} 
            <a class="fancybox" rel="video" href="{{video.src}}"> <img src="{{video.img_src}}" /></a> 
        {% endfor %}
    </div>
{%endblock%} 
